black==22.6.0
coverage==6.4.4
flake8==5.0.4
flake8-comprehensions==3.10.0
flake8-docstrings==1.6.0
flake8-noqa==1.2.8
mypy==0.971
pre-commit==2.20.0
pylint==2.14.5
pylint_strict_informational==0.1
pytest==7.1.2
pytest-cov==3.0.0
pytest-timeout==2.1.0
